{% extends "base.html" %} {% block title %}Detalle{% endblock %} {% block content %}
<h2>{{ obj.clue }}</h2>
<a href="{% url 'cesar:edit' obj.id %}">Editar</a>
<div class="card">
  <div><strong>Cifrado:</strong></div>
  <pre style="white-space: pre-wrap">{{ obj.encrypted }}</pre>
</div>
{% if shift is not None %}
<div class="card">
  <div><strong>Desplazamiento:</strong></div>
  <pre style="white-space: pre-wrap">{{ shift }}</pre>
</div>
{% endif %} 
<div class="card">
  <form method="post">
    {% csrf_token %}
    <label>Ingresa la palabra mágica para descifrar</label>
    {{ form.password }}
    <br /><br /><button class="btn" type="submit">Descifrar</button>
  </form>
</div>

{% if plaintext is not None %}
<div class="card">
  <div><strong>Descifrado:</strong></div>
  <pre style="white-space: pre-wrap">{{ plaintext }}</pre>
</div>
{% endif %} {% endblock %}
